# Virtual environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/

# Static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid