# --- Virtual Environment ---
.venv/
env/
venv/

# --- Entorno y Variables ---
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Bases de datos y archivos locales ---
db.sqlite3
*.sqlite3
*.sqlite3-journal

# --- Django ---
media/
staticfiles/

# --- IDEs / Editores ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs y otros ---
*.log
*.pid