{% extends "dashboard/base_dashboard.html" %}
{% load static %}

{% block title %}
Listado de clientes
{% endblock %}

{% block menu_clientes %}
active
{% endblock %}

{% block encabezado %}
Listado de Clientes
{% endblock %}

{% block content %}

<!-- Barra de herramientas -->

<div class="toolbar-container">

    <!-- Búsqueda -->
    <form method="GET" action="{% url 'clientes' %}" class="search-form">

        <input
            type="text"
            name="buscar"
            placeholder="Buscar cliente..."
            value="{{ buscar }}"
            class="search-input"
        >

        <button type="submit" class="btn btn-search">
            Buscar
        </button>

    </form>


    <!-- Acciones -->

    <div class="actions-group">

        <!-- Filtros -->
        <button
            type="button"
            class="btn btn-filter"
            id="btnOpenFilterModal">
            Filtros avanzados
        </button>


        <!-- Más acciones -->
        <div class="dropdown-actions">

            <button
                type="button"
                class="btn-more">
                ⋮
            </button>

        </div>


        <!-- Crear cliente -->
        <button
            type="button"
            data-abrir-modal="modal-crear-cliente"
            class="btn-save"
            style="width:auto; padding:10px 20px;">
            + Agregar cliente
        </button>

    </div>

</div>


<!-- Tabla -->

{% include "citas/partials/tabla_clientes.html" %}


<!-- Modal de creación -->
{% include "citas/partials/create/_modal_crear_cliente.html" %}


{% endblock %}