{% extends "dashboard/base_dashboard.html" %}

{% block title %}
Nueva cita
{% endblock %}

{% block menu_citas %}
active
{% endblock %}

{% block encabezado %}
Gestión de Citas
{% endblock %}

{% block content %}

<div class="container-grid">

    <div class="card">

        <h3>Nueva Cita</h3>

        <form method="POST">

            {% csrf_token %}

            {% if form.non_field_errors %}

                <div style="background:#fee2e2;color:#dc2626;padding:10px;border-radius:6px;margin-bottom:15px;">

                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}

                </div>

            {% endif %}

            {% for field in form %}

                <div class="form-group">

                    <label>{{ field.label }}</label>

                    {{ field }}

                    {% for error in field.errors %}
                        <span style="color:red;">
                            {{ error }}
                        </span>
                    {% endfor %}

                </div>

            {% endfor %}

            <button class="btn-save">
                Agendar cita
            </button>

        </form>

    </div>

    <div class="card">

        <h3>Próximas citas</h3>

        <p class="empty-msg">

            Aquí aparecerán las próximas citas.

        </p>

    </div>

</div>

{% endblock %}