{% extends "dashboard/base_dashboard.html" %}
{% load static %}
{% block title %}
Listado de citas
{% endblock %}

{% block menu_citas %}
active
{% endblock %}

{% block encabezado %}
Listado de Citas
{% endblock %}


{% block content %}

<div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:20px;">

    <h3>Historial de citas</h3>

    <a href="{% url 'crear_cita' %}" class="btn-save" style="width:auto;text-decoration:none;padding:10px 20px;">

        Nueva cita

    </a>

</div>


<table class="table-citas">

    <thead>

        <tr>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>

    </thead>


    <tbody>

        {% for cita in citas %}

        <tr>

            <td>{{ cita.id_cliente }}</td>

            <td>{{ cita.id_servicio }}</td>

            <td>{{ cita.fecha_cita }}</td>

            <td>{{ cita.hora_cita }}</td>

            <td>
                <span class="badge">
                    {{ cita.estado }}
                </span>
            </td>


            <td>
                
                <button class="btn-open-delete" data-id="{{ cita.id_cita }}" data-cliente="{{ cita.id_cliente }}">
                    Eliminar
                </button>

            </td>

            <td>
                <button class="btn-open-update" data-id="{{cita.id_cita}}" data-cliente="{{cita.id_cliente}}">
                    Editar
                </button>
                
            </td>


        </tr>


        {% empty %}

        <tr>

            <td colspan="6" class="empty-msg">
                No existen citas registradas.
            </td>

        </tr>

        {% endfor %}


    </tbody>

</table>



<!-- MODAL -->
<div id="modalEliminar" class="modal oculto">
    <div class="modal-content">
        <h3>Eliminar cita</h3>
        <p id="mensajeEliminar">¿Estás seguro de que deseas eliminar esta cita?</p>

        <form id="formEliminar" method="post">
            {% csrf_token %}
            <div style="display: flex; gap: 10px; margin-top: 15px;">
                <button type="submit" class="btn-delete">
                    Sí, eliminar
                </button>
                <button type="button" id="cerrarModal">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>

<div id="modal-editar" class="modal oculto">

    <div class="modal-content">

        <span id="cerrar-modal">&times;</span>

        <h2>Editar cita</h2>

        <div id="contenido-modal">

        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/eliminar_cita.js' %}"></script>
<script src="{% static 'js/editar_cita.js' %}"></script>
{% endblock %}