{% extends "dashboard/base_dashboard.html" %}
{% load static %}
{% block title %}
Listado de citas
{% endblock %}

{% block menu_citas %}
active
{% endblock %}

{% block encabezado %}
Listado de Citas
{% endblock %}


{% block content %}

<div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:20px;">

    <h3>Historial de citas</h3>

    <button type="button" id="btn-abrir-crear" class="btn-save" style="width:auto; padding:10px 20px;">
        Nueva cita
    </button>

</div>

<form method="get">

    <input type="text" name="buscar" placeholder="Buscar cliente..." value="{{ buscar }}">

    <button type="submit">
        Buscar
    </button>

</form>

<!-- Table-->
{% include "citas/partials/tablas_citas.html" %}



<!-- MODAL -->
{% include "citas/partials/create/_modal_crear.html" %}
{% include "citas/partials/delete/_modal_eliminar.html" %}
{% include "citas/partials/update/_modal_editar.html" %}

{% endblock %}

{% block scripts %}

<script src="{% static 'js/citas/eliminar_cita.js' %}"></script>
<script src="{% static 'js/citas/editar_cita.js' %}"></script>
<script src="{% static 'js/citas/crear.js'%}"></script>>
{% endblock %}