{% extends "dashboard/base_dashboard.html" %}
{% load static %}

{% block title %}
Listado de servicios
{% endblock %}

{% block menu_servicios %}
active
{% endblock %}

{% block encabezado %}
Listado de Servicios
{% endblock %}

{% block content %}

<div class="toolbar-container">

    <!-- Búsqueda -->

    <form method="GET" action="{% url 'servicios' %}" class="search-form">

        <input
            type="text"
            name="buscar"
            placeholder="Buscar servicio..."
            value="{{ buscar }}"
            class="search-input"
        >

        <button type="submit" class="btn btn-search">
            <i class="bi bi-search"></i>
            Buscar
        </button>

    </form>


    <!-- Acciones -->

    <div class="actions-group">

        <button
            type="button"
            class="btn btn-filter"
            id="btnOpenFilterModal">

            <i class="bi bi-funnel"></i>
            Filtros avanzados

        </button>


        <div class="dropdown-actions">

            <button
                type="button"
                class="btn-more"
                aria-label="Más acciones">

                <i class="bi bi-three-dots-vertical"></i>

            </button>

        </div>


        <!-- Crear -->

        <button
            type="button"
            data-abrir-modal="modal-crear-servicio"
            class="btn-save"
            style="width:auto; padding:10px 20px;">

            <i class="bi bi-plus-circle"></i>
            Agregar servicio

        </button>

    </div>

</div>


<!-- Tabla -->

{% include "citas/partials/tabla_servicios.html" %}


<!-- Modales -->

{% include "citas/partials/create/_modal_crear_servicio.html" %}

{% include "citas/partials/update/_modal_editar_servicio.html" %}

{% include "citas/partials/delete/_modal_eliminar_servicio.html" %}


{% endblock %}