{% csrf_token %}

{% if formulario.non_field_errors %}

<div style="background:#fee2e2;color:#dc2626;padding:10px;border-radius:6px;margin-bottom:15px;">

    {% for error in formulario.non_field_errors %}
        {{ error }}
    {% endfor %}

</div>

{% endif %}


{% for field in formulario %}

<div class="form-group">

    <label for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>

    {{ field }}

    {% for error in field.errors %}
        <span style="color:red;">
            {{ error }}
        </span>
    {% endfor %}

</div>

{% endfor %}