<table class="table-citas">

    <thead>

        <tr>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>

    </thead>


    <tbody>

        {% for cita in citas %}

        <tr>

            <td>{{ cita.id_cliente }}</td>

            <td>{{ cita.id_servicio }}</td>

            <td>{{ cita.fecha_cita }}</td>

            <td>{{ cita.hora_cita }}</td>

            <td>
                <span class="badge">
                    {{ cita.estado }}
                </span>
            </td>


            <td>
                <button
                    type="button"
                    class="btn-open-update"
                    data-abrir-modal="modal-editar-cita"
                    hx-get="{% url 'editar_cita' cita.id_cita %}"
                    hx-target="#contenido-modal"
                    hx-swap="innerHTML">

                    <i class="bi bi-pencil-fill"></i>
                </button>
                
                <button
                    type = "button"
                    class="btn-open-update"
                    data-abrir-modal="modal-eliminar-cita"
                    data-url="{% url 'eliminar_cita' cita.id_cita %}">
                    <i class="bi bi-trash-fill"></i>
                    
                </button>       

                
            </td>


        </tr>


        {% empty %}

        <tr>

            <td colspan="6" class="empty-msg">
                No existen citas registradas.
            </td>

        </tr>

        {% endfor %}


    </tbody>

</table>